# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.jobconfigurator.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\_Workspace\JenkinsConfigurationTest\jobconfigurator\.idea\.idea.jobconfigurator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
